body{
  overflow: auto;
}
#login{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

#top-bar{
  /*Make color cover all the horizontal window*/
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
  right: 5px;
  height: 21%;
  background-image: linear-gradient(to bottom, #c2272d 50%, #0e0637 50%);
  z-index: 1;
}
#logoTEC{
  /*Resize the image*/
  position: relative;
  width: 300px;
  height: 75px;
  /*Put the image down*/
  margin-top: 5.7%;
  margin-left: 50px;
  transition: transform 0.2s ease-out;
}
#logoTEC:hover{
  transform: scale(0.98);
}
#appTitle, #appDescription{
  /*Put the text down*/
  font-family: "Roboto", sans-serif;
} 
#appTitle{
  margin-left: 70%;
  margin-bottom: 3%;
  font-size: 40px;
  position: relative;
  top: -100px;
  color: #f1f1f1;
}
#appDescription{
  margin-left: 70%;
  font-size: 15px;
  position: relative;
  margin-top: -10%;
  color: white;
  left: 2px;
}
#map{
  position: absolute;
  width: 300px;
  height: 200px;
  border: 0;
  margin-top: 130px;
  margin-right: 300px;
  margin-left: 56%;
}
#login-btn{
  background-color: #0e0637;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 1%;
  transition: transform 0.3s ease-in-out;
  font-family: "Roboto", sans-serif;
  margin-top: 4%;
  margin-left: 23%
}
#login-btn:hover{
  background-color: #6a5acd;
  cursor: pointer;
  transform: scale(1.1);
}
.loginBoxes{
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  background-color: #f4f4f4;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  border: none;
}
.loginBoxes:focus{
  outline: none;
  box-shadow: 0px 0px 5px #0e0637;

}
.loginBoxes input[type="checkbox"]:hover{
  border: none;
}
.form-group input[type="checkbox"]{
  outline: none;
  margin-left: 50%;
} 

