body{
 
}
* {
  padding: 0;
  margin: 0;
}
.inputs-main-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  flex: 1;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
#login{
    z-index: 1;
    display: flex;
    flex: 2;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}
#map{
  display: flex;
  max-width: 300px;
  flex: 1;
  align-items: center;
  padding: 0px 5%;
  justify-content: center;
  height: 200px;
}

#top-bar{
  /*Make color cover all the horizontal window*/
  display: flex;
  flex-direction: column;
  height: 150px;

  z-index: 1;
}
.top-bar-top-container{
  background-color: #c1272d;
  flex:0.4;
}
.top-bar-bottom-container {
  padding: 0px 5%;
  background-color: #0e0637;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex:0.6;
}
.text-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.logo-container {
  display: flex;
  
}
#logoTEC{
  width: auto;
  height: 75px;
  transition: transform 0.2s ease-out;
}
#logoTEC:hover{
  transform: scale(0.98);
}
#appTitle, #appDescription{
  /*Put the text down*/
  font-family: "Roboto", sans-serif;
} 
#appTitle{
  font-size: 24px;
  color: white;
}
#appDescription{
  font-size: 15px;
  color: white;
}

.login-screen-main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.inputs-and-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 32px;

}
.inputs-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.label-input-container {
  display: flex;
  flex-direction: column;
  gap:8px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login-btn{
  background-color: #0e0637;
  color: white;
  border: none;
  display: flex;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin: 0px 30px;
  transition: transform 0.3s ease-in-out;
  font-family: "Roboto", sans-serif;

  justify-content: center;
}
.login-btn:hover{
  background-color: #6a5acd;
  cursor: pointer;
  transform: scale(1.1);
}
.loginBoxes{
  display: flex;

  font-size: 16px;
  font-weight: bold;
  color: #444;
  background-color: #f4f4f4;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 16px;
  border: none;
}
.loginBoxes:focus{
  outline: none;
  box-shadow: 0px 0px 5px #0e0637;

}
.loginBoxes input[type="checkbox"]:hover{
  border: none;
}
.form-group input[type="checkbox"]{
  outline: none;
  margin-left: 50%;
} 

